.header {
  background-color: #f4f4f4;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.socialIcons {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
}

.contactButton {
  background-color: #C5A572;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.languageButton {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: 20px;
  transition: background 0.3s;
}

.languageButton:hover {
  background-color: #444;
}

.logoutButton {
  padding: 0.5rem 1rem;
  background-color: #ff5e57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.logoutButton:hover {
  background-color: #e04641;
}